@model List<EuroPlitka_Model.News>

<div class="container p-md-3 table-responsive-md bg-white">
    <div class="row pt-md-4">
        <div class="col-md-6">
            <h2 class="text-primary">News List</h2>
        </div>

        <div class="col-md-6 text-right">
            <a asp-controller="News" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-circle-plus"></i> &nbsp;
                Create News
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <form method="post" asp-action="Upsert">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                       
                        <th>Titile News</th>
                        <th>Short Description</th>
                        <th>DateTime</th>                     
                        <th>Visible</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                  


                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                             <input asp-for="@Model[i].Id" readonly hidden />
                            <td width="5%"><input asp-for="@Model[i].Title" readonly hidden />@Model[i].Title </td>
                            <td width="40%"><input asp-for="@Model[i].ShortDescription" readonly hidden />@Model[i].ShortDescription </td>
                            <td width="50%"> <input asp-for="@Model[i].DateTime" readonly hidden /> @Model[i].DateTime.ToShortDateString()</td>
                            <td width="5%">
                                <label class="form-check-label"><input type="checkbox" name="[@i].checkedState" @((Model[i].IsMainMenu) ? "checked=\"checked\"" : "") /> Show </label>
                            </td>
                            <td class="text-lift">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="News" asp-action="Edit" class="btn btn-primary mx-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a asp-controller="News" asp-route-Id="@Model[i].Id" asp-action="Delete" class="btn btn-danger mx-2">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                            </td>

                           


                        </tr>
                    }



                </tbody>
            </table>
            <div class="form-group row py-2">
                <div class="col-8 row">

                    <div class="col mt-1 ">
                        <input type="submit" class="btn btn-info w-100 rounded-pill" value="Update Vision" />
                    </div>
                    <div class="col mt-1">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-success  w-100 rounded-pill">
                            <i class="fa-solid fa-rotate-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <p>No News exist!!</p>
    }
</div>