@model EuroPlitka_Model.AplicationUser
@using EuroPlitka_Model;
@using EuroPlitka_Services;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AplicationUser> UserManager

    @{

    var role = (UserManager.GetRolesAsync(@Model).Result[0] == WebConstanta.AdminRole) ? WebConstanta.AdminRole : WebConstanta.CustomerRole;
    }

<tr class="bg-white   filter  @role">
    <th scope="row">
        <div class="media align-items-center">
            @{

                var img = @Model.imgUserAva == null ?
                "/images/avatar-male-3.jpg" :
                $"{string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.imgUserAva).ToString())}";

                var id = Model.Id;

            }

            <img alt="Image profile avatar" src="@img" class="avatar">
            <div class="media-body">
                <span class="h6 mb-0">@Model.UserName</span>
            </div>
        </div>
    </th>
    <td>
        <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@Model.Id">
            View Profile
        </a>
    </td>


    <td>@Model.FullName </td>
    <td>@role</td>
    <td class="text-center">
        <div class="w-75 btn-group" role="group">
            <a asp-controller="User" asp-route-id="@Model.Id" asp-action="EditProfile" class="btn btn-primary mx-2">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a asp-controller="User" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-danger mx-2">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
    </td>

</tr>
<tr class="table-divider">
    <th></th>
    <td></td>
</tr>