@using EuroPlitka_Services;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EuroPlitka_Model.ViewModels.UsersVM





@* <div class="form-row row py-2">
            <div class="col-6">
                <input asp-for="Password" placeholder="password" type="password" class="form-control" />
            </div>
            <div class="col-6">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>*@


<form method="post" class="row">
    <div class="row mb-4">
        <div class="col">
            <h5>@Localizer["editProfileCngPswdTitle"]</h5>
        </div>
        <!--end of col-->
    </div>
    <!--end of row-->
    <div class="row">
        <!--end of col-->
        <div class="col-12 col-md-8 order-md-1">

            <div class="col-6">
                <div class="form-floating">
                    <input asp-for="OldPasswd" class="form-control" autocomplete="new-password" required />
                    <label class="form-label">Old Password</label>
                    <span asp-validation-for="OldPasswd" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="aplicationUser.Password" class="form-control" autocomplete="new-password" required />
                    <label class="form-label">@Localizer["editProfileCngPswdMenu"]</label>
                    <span asp-validation-for="aplicationUser.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="aplicationUser.ConfirmPassword" class="form-control" autocomplete="new-password" required />
                    <label class="form-label">@Localizer["editProfileCngPswdConfirmMenu"]</label>
                    <span asp-validation-for="aplicationUser.ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="form-group row py-2">
                    <div class="col">
                        <button asp-action="ChangePassword" asp-controller="User" asp-route-id="@Model.aplicationUser.Id" type="submit" class="btn btn-success w-100">@Localizer["editProfileCngPswdSaveMenu"]</button>
                    </div>

                </div>

            </div>

        </div>

</form>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />


  
}