@using EuroPlitka_Model;
@using EuroPlitka_Services;
@using static EuroPlitka_Model.AplicationUser
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


@{

    var currentUser = await UserManager.GetUserAsync(User);
    string img = currentUser == null ? "/images/avatar-male-3.jpg" : currentUser.imgUserAva == null ?
                                                                     "/images/avatar-male-3.jpg" :
                                                                    $"{string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(currentUser.imgUserAva).ToString())}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EuroPlitka</title>





    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />





    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/summernote-bs4.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.56/material.css" />


    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" />*@

    @*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @* <link rel="stylesheet" href="~/EuroPlitka.styles.css" asp-append-version="true" />*@



    @* <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">*@
    @*sweetalert img (анимированные ошибки)*@



</head>



<body>
  
    <div class="navbar-container fixed-tops">
       
        <div class="bg-light navbar-light" data-sticky="top">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  ">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EuroPlitka</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item ">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["menuMain"]</a>
                                </li>

                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle clr" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-sharp fa-solid fa-list"></i>@SharedLocalizer["menuCategory"]
                                    </a>
                                    @await Component.InvokeAsync("Category")
                                </li>

                             


                                <li class="">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">@SharedLocalizer["menuAboutCompany"]</a>
                                </li>
                                <li class="">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">FAQ</a>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@SharedLocalizer["menuContact"]</a>
                                </li>
                                
                               
                                <!-- Chek session-->
                                <li class="w-15">
                                    @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstanta.SessionCart) != null)
                                    {
                                        <a asp-action="Index" asp-controller="Cart" class="nav-link">
                                            @{ var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstanta.SessionCart).Count;}
                                            <i class="fas fa-shopping-cart"> </i> &nbsp; (@count)
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="nav-link"> <i class="fas fa-shopping-cart"></i>&nbsp; (0)</a>
                                    }

                                </li>

                                <li>
                                    <input type="search" id="Name" class="compItem form-control w-75 " placeholder="@SharedLocalizer["menuSearch"]" />
                                </li>
                                <li class="mt-2"> @await Html.PartialAsync("_SelectLanguagePartial")</li>
                               
                            </ul>







                            <ul class="navbar-nav ">
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                                            <img alt="Image" src="@img" class="avatar avatar-xs">

                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                            @if (User.IsInRole(WebConstanta.AdminRole))
                                            {

                                                <a class="dropdown-item" asp-controller="User" asp-action="Index"><span class="h6 mb-0">Керування користувачами</span> </a>
                                                <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index"> Керування категоріями</a>
                                                <a class="dropdown-item" asp-controller="ProductType" asp-action="Index">Керування Типом продукту</a>
                                                <a class="dropdown-item" asp-controller="Product" asp-action="Index">Керування продуктом</a>
                                                <a class="dropdown-item" asp-controller="Order" asp-action="Index">Історія замовлень</a>
                                                <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Керування ролями</a>
                                                <a class="dropdown-item" asp-controller="News" asp-action="Index">Керування новинами</a>
                                                <a class="dropdown-item" asp-controller="Localization" asp-action="Index">Керування локалізацією</a>

                                            }
                                            else
                                            {
                                                <a class="dropdown-item" asp-controller="User" asp-action="OrdersUser">Історія замовлень</a>
                                            }
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-controller="User" asp-action="Detail" asp-route-id="@currentUser.Id"><span class="h6 mb-0">Перегляд профілю</span> </a>
                                            <a class="dropdown-item" asp-controller="User" asp-action="EditProfile"><span class="h6 mb-0">Редагування профілю</span> </a>



                                            <form method="post" asp-controller="Account" asp-action="Logout">
                                                <input type="submit" class="btn form-control" value="Вихід" />
                                            </form>



                                        </div>

                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item ">
                                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">@SharedLocalizer["menuRegister"]</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">@SharedLocalizer["menuSignIn"]</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>




    <div class="main-container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="background: gainsboro;">
        <div class="row-1 pt-5 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-center">
                        <h6>EuroPlitka</h6>
                        <img src="~/images/mozayika-315315-antarctica-astra-white__50.jpeg" class="img-fluid mb-3 mb-lg-5" alt="Etalon" width="250" height="48">
                        <div class="social pe-4 mb-4 mb-lg-0">
                            <a href="#" rel="nofollow" class="me-1"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" rel="nofollow" class="me-1"><i class="fa-brands fa-telegram"></i></a>
                            <a href="#" rel="nofollow" style="color:red"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#" rel="nofollow" class="insta"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="fs-16px fw-600 mb-2">Каталог товарів</div>
                                <ul class="ps-0">
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Керамічна плитка</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Керамогранітна плитка</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Мозаїка</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Клінкерна плитка</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Сантехніка</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="fs-16px fw-600 mb-2">Інформація</div>
                                <ul class="ps-0">
                                    <li class="a-arrow mb-1 text-nowrap"><a class="link-black hover-link-mint no-td" href="#" rel="nofollow">Архітекторам та дизайнерам</a></li>
                                    <li class="a-arrow mb-1"><a href="" class="link-black hover-link-mint no-td">Блог</a></li>
                                    <li class="a-arrow mb-1"><a href="/Home/About" class="link-black hover-link-mint no-td">Про компанію</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Доставка та оплата</a></li>
                                    <li class="a-arrow mb-1"><a href="#" class="link-black hover-link-mint no-td">Повернення товару</a></li>
                                    <li class="a-arrow mb-1"><a href="/Home/Privacy" class="link-black hover-link-mint no-td">Контакти</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-8 col-lg-4 mb-3">
                                <div class="fs-16px fw-600 mb-2">Контактна інформація</div>

                                <div class="mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="22" class="me-1 stroke-black"><use xlink:href="#svg-location"></use></svg>
                                        </div>
                                        <div>
                                            <div class="lh-sm fs-13px">м. Київ, бул. Лесі Українки, 20</div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="16" class="me-1 stroke-black" style="fill: #f3f3f3;"><use xlink:href="#svg-calendar"></use></svg>
                                        </div>
                                        <div class="text-gray pt-1">Пн. - Сб.: 10:00 - 19:00</div>
                                    </div>
                                </div>

                                <div style="border-bottom: 1px solid #dedede;" class="mb-2"></div>

                                <div class="mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="22" class="me-1 stroke-black"><use xlink:href="#svg-location"></use></svg>
                                        </div>
                                        <div>
                                            <div class="lh-sm fs-13px">м. Київ, вул. Дніпровська набер., 17Д/2</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="16" class="me-1 stroke-black" style="fill: #f3f3f3;"><use xlink:href="#svg-calendar"></use></svg>
                                        </div>
                                        <div class="text-gray pt-1">Вт. - Сб.: 10:00 - 18:00</div>
                                    </div>
                                </div>

                                <div style="border-bottom: 1px solid #dedede;" class="mb-2"></div>

                                <div>
                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="22" class="me-1 stroke-black"><use xlink:href="#svg-location"></use></svg>
                                        </div>
                                        <div>
                                            <div class="lh-sm fs-13px">м. Львів, вул. Гайдамацька, 12а</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="me-1">
                                            <svg width="16" height="16" class="me-1 stroke-black" style="fill: #f3f3f3;"><use xlink:href="#svg-calendar"></use></svg>
                                        </div>
                                        <div class="text-gray pt-1">Пн. - Нд..: 10:00 - 19:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="fw-600 mb-2">Популярні категорії</div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4 col-xl-3">
                                        <ul class="ps-0 mb-0">
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка для ванної</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка для кухні</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка для підлоги</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xl-3">
                                        <ul class="ps-0 mb-0">
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка під дерево</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка під мармур</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка печворк</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xl-3">
                                        <ul class="ps-0 mb-0">
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Іспанська плитка</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Італійська плитка</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка 60 на 120</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-lg-4 col-xl-3">
                                        <ul class="ps-0 mb-0">
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Плитка соти (гексагон)</a></li>
                                            <li class="a-arrow"><a href="#" class="link-black hover-link-mint no-td">Великоформатна плитка</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            &copy; 2022 - EuroPlitka  — всі права захищено
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    <script src="~/js/popper.min.js"></script>
    @*   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@





    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/summernote-bs4.min.js"></script>

    <script src="~/js/sweetalert2.all.min.js"></script>


    @* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@

    @*  <script src="~/js/site.js" asp-append-version="true"></script>*@
    @*  <script src="~/js/jquery.min.js"></script>*@
    @*  <script src="~/js/theme.js"></script>*@
    @*  <script src="~/js/custom.js"></script>*@
    @*  <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>*@
    @*  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>*@


    @*syncfusion*@
    <script src="https://cdn.syncfusion.com/ej2/20.3.56/dist/ej2.min.js"></script>

    @*  <script src="~/js/summernote-bs4.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>




</body>
</html>

