@using EuroPlitka_Model;
@using EuroPlitka_Services;
@model EuroPlitka_Model.AplicationUser
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AplicationUser> SignInManager
@inject UserManager<AplicationUser> UserManager


@{
    string img = Model.imgUserAva == null ? "/images/avatar-male-3.jpg" : $"{string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.imgUserAva).ToString())}";
}



<div class="modal-content">
    <div class="modal-header">
        <button class="btn btn-close" data-bs-dismiss="modal" area-hidden="true"></button>

    </div>
    <div class="modal-body">
        <div style="padding: 10px;"></div>
        <div class="card mb-3">
            <div class="row ">
                <div class="card-body">
                    <div class="col-md-12 ">
                        <img alt="Image" src="@img" class="mr-md-8 avatar avatar-xlg rounded mx-auto d-block">
                    </div>
                    <div class="col-md-12">
                        <h5 class="card-title text-center">@Model?.FullName</h5>
                        <p class="card-text">Id: @Model.Id</p>
                        <p class="card-text"><b>About: </b>@Model?.Description</p>
                        <p class="card-text"><b>Email: </b>@Model?.Email ₽</p>
                        <p class="card-text"><b>City </b>@Model?.City</p>
                        <p class="card-text"><b>Address: </b>@Model.StreetAddress</p>
                        <p class="card-text">Phone Number: @Model?.PhoneNumber</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row py-2 ">
                        @if (User.IsInRole(WebConstanta.AdminRole))
                        {
                            <div class="col">
                                <a asp-controller="User" asp-route-id="@Model.Id" asp-action="EditProfile" class="btn btn-primary mx-2">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a asp-controller="User" asp-route-Id="@Model.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a asp-controller="User" asp-action="Index" class="btn btn-primary  w-100">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary  w-100">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




