@model EuroPlitka_Model.ViewModels.NewsProducstHomeVM
@using EuroPlitka_Services;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = "Home Page";}
<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>
</div>






<div id="resultsTable"></div>
<section class="bg-dark space-lg" data-jarallax data-speed="0.2">
    <img alt="Image" src="/images/mainLogo.jpg" class="bg-image position-absolute opacity-20" />
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-5 section-intro">
                <h1 class="display-3">Знайди свою плитку для будь чого</h1>
                <span class="lead">
                    У нашому каталозі Ви можете підібрати за потрібними параметрами плитку на будь-який смак з доставкою по всій Україні.
                </span>
            </div>
            <div class="col-12 col-md-6 col-lg-5  ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="controls">
                        <a class="prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <ol class="carousel-indicators">

                        @foreach (var ind in Model.News)
                        {
                            @if (ind.Id == 2)
                            {
                                <li data-target="" class="active"></li>
                            }
                            else
                            {
                                <li data-target=""></li>
                            }
                        }
                    </ol>


                    <div class="carousel-inner text-center">
                        @foreach (var news in Model.News)
                        {
                          



                            if (news.IsFirst)
                            {
                                <div class="carousel-item active">
                                    <H1>@news.Title</H1>
                                    <div class="benefit-icons">
                                      @if(!string.IsNullOrEmpty(news.LeftSideInfoPicture))
                                      {
                                            <span class="benefit discount">@news.LeftSideInfoPicture</span>
                                      }
                                      @if (!string.IsNullOrEmpty(news.RightSideInfoPicture))
                                      {
                                            <span class="benefit top">@news.RightSideInfoPicture</span>
                                      }

                                       
                                    </div>
                                    <img class="d-block w-100" style="height: 300px;" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(news.Image).ToString())" alt="Second slide">
                                    <i class="dataNews">@news.DateTime.ToShortDateString()</i>
                                     @if (User.IsInRole(WebConstanta.AdminRole))
                                        {
                                            <a asp-controller="News" asp-route-Id="@news.Id" asp-action="Upsert" class="btn btn-primary form-control">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        }
                                    <button class="form-control">
                                        <span class="b-footer">
                                            <span class="description">@news.ShortDescription</span>
                                            <span class="button py-2 px-3"> &gt; </span>
                                        </span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item text-center">
                                    <H1>@news.Title</H1>
                                    <div class="benefit-icons">
                                        @if (!string.IsNullOrEmpty(news.LeftSideInfoPicture))
                                        {
                                            <span class="benefit discount">@news.LeftSideInfoPicture</span>
                                        }
                                        @if (!string.IsNullOrEmpty(news.RightSideInfoPicture))
                                        {
                                            <span class="benefit top">@news.RightSideInfoPicture</span>
                                        }
                                    </div>
                                    <img class="d-block w-100" style="height: 300px;" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(news.Image).ToString())" alt="Second slide">
                                    <i class="dataNews" >@news.DateTime.ToShortDateString()</i>
                                    @if (User.IsInRole(WebConstanta.AdminRole))
                                    {
                                                        <a asp-controller="News" asp-route-Id="@news.Id" asp-action="Upsert" class="btn btn-primary form-control">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </a>
                                    }
                                    <button class="form-control">

                                        <span class="b-footer">
                                            <span class="description">@news.ShortDescription</span>
                                            <span class="button py-2 px-3"> &gt; </span>
                                        </span>
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="section section-benefits mb-5">
    <div class="container pt-2 pb-2">

    <div class="row">
            <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-2">
                <h5>ТОП продажів</h5>
                <span class="button py-2 px-3"> &nbsp; </span>
                <a href="/CategoryMenu?allResultPage=true">Переглянути всі</a>
                <span class="button py-2 px-3"> &gt; </span>
            </div>
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3 col-md-3 pt-3">
                <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                    <div class="card-body px-3 pt-3 pb-1 row">
                        <div class="col-7"><label class="float-left">@item.Name</label></div>
                        <div class="col-5"><label class="float-right"><span class="text-info h6">@string.Format("{0:N0}",item.Price)грн/м2</span></label> </div>
                    </div>
                    <div class="col-12">
                            <img class=" img-height-home rounded w-100 " src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.imagebyte).ToString())" alt="Card image cap">
                     </div>
                    <div class="card-body p-1 px-3 row">
                        <div class="col-6 border-0">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:aliceblue">@item.ProductType.Name</span>
                        </div>
                        <div class="col-6 border-0">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:aliceblue">@item.Category.NameUa</span>
                        </div>
                        <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                            <p>@item.shortDesc</p>
                        </div>
                        <div class="col-12 p-1">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Переглянути</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>






<div class="section section-benefits mb-5">
    <div class="container pt-2 pb-2">
        <div class="title mb-4">Наші переваги</div>

        <div class="row g-3 justify-content-center">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-2">Відсутність посередників</div>
                <div class="description text-gray">Ми не залежимо від третіх сторін, імпортуємо плитку самостійно і маємо впевнені стосунки з фабриками</div>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-2">Оригінальний продукт</div>
                <div class="description text-gray">Супроводжуємо замовлення від фабрики в будинок клієнта, і гарантуємо 100% оригінальність</div>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-2">Робота з ТОП-виробниками</div>
                <div class="description text-gray">У асортименті наших шоу-румів плитка найкращих фабрик Іспанії та Італії</div>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-3">Широка мережа партнерів</div>
                <div class="description text-gray">Більше 500+ партнерських магазинах по всій Україні продають наш продукт</div>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-2">Швидка доставка</div>
                <div class="description text-gray">Доставляємо позиції під замовлення за 3 тижні, плитку в наявності - наступного дня</div>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="subtitle mb-2">Супровід замовлення</div>
                <div class="description text-gray">
                    З кожним нашим клієнтом працює особистий експерт-менеджер, який повністю супроводжує замовлення
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-company-description mb-5">
    <div class="container pt-5 pb-5">
        <h1 class="title mb-4">Магазин плитки  EuroPlitka</h1>
        <div>
            <p class="text-gray">EuroPlitka є прямим імпортером керамічної плитки з Іспанії та Італії в Україні. Цією справою ми займаємося вже більше 10 років. Тривалий досвід роботи з фабриками та різноманітними видами плитки допомагає нам підтримувати у власних шоурумах ідеально збалансований асортимент. У EuroPlitka кожен знайде підхожий матеріал відмінної якості!</p>

            <h2 class="fs-18px">Асортимент салонів плитки та сантехніки EuroPlitka</h2>
            <p class="text-gray">Магазин керамічної плитки EuroPlitka пропонує великий вибір товарів. Шукаєте довговічне облицювання для ванної, кухні, коридору, тераси, на стіни або підлогу, для дому чи вулиці? У нашому салоні плитки є варіанти для всіх цих потреб:</p><p>
            </p><ul class="text-gray">
                <li>глиняна плитка;</li>
                <li>керамограніт;</li>
                <li>великоформатний керамограніт;</li>
                <li>клінкер;</li>
                <li>мозаїка.</li>
            </ul>
            <p class="text-gray">Найпопулярнішою серед клієнтів нашого магазину плитки сьогодні є керамогранітна плитка. Цей тип кахлів є найстійкішим, завдяки особливій технології виготовлення. У склад керамограніту входить одразу кілька сортів глини, а також кварцовий пісок та польовий шпат. Щоб отримати потрібну форму, суміш пресують під сильним пресом, а потім випалють за надзвичайно високих температур. Під час випалу всі компоненти зливаються в єдиний виріб, що робить його неймовірно твердим та довговічним. Саме таку плитку використовують там, де покриття зазнаватиме значних навантажень.</p>

            <p class="text-gray">З керамограніту виготовляється й трендова зараз тонка великоформатна плитка. Плити, що вищі за людський зріст, виглядають неперевершено, оскільки найбільш реалістично відтворюють натуральні фактури. EuroPlitka одним з перших почав постачати керамограніт великих форматів в Україну. У 2018 році ми відкрили перший шоурум, де така плитка була представлена в оригінальних розмірах.</p>

            <p class="text-gray">У магазині EuroPlitka можна придбати й традиційну плитку з глини. Її перевагою є менша ціна, а також хороша зносостійкість, якої цілком достатньо для звичайного житлового помешкання. Оскільки кахлі, які ми імпортуємо, виготовляються на кращих фабриках Іспанії та Італії, їх висока якість є беззаперечною.</p>

            <p class="text-gray">Для облицювання фасадів та облаштування екстер’єрів у нашому салоні представлена клінкерна плитка, яка ідеально підходить для зовнішніх робіт. Великий асортимент плитки мозаїки сподобається тим, хто хоче додати особливості своєму інтер’єру, або шукає матеріал для оздоблення басейну.</p>

            <h2 class="fs-18px">Чому магазин кераміки EuroPlitka один з кращих</h2>

            <p class="text-gray">Уже багато років салон плитки EuroPlitka обирають українські дизайнери та архітектори. Адже, крім вигідних партнерських умов, ми пропонуємо по-справжньому ексклюзивні кахлі. Ми дуже уважно слідкуємо за актуальністю асортименту, тому регулярно відвідуємо міжнародні виставки керамічної плитки, звідки привозимо найновіші колекції. Асортимент в EuroPlitka оновлюється кожні пів року.</p>

            <p class="text-gray">З-поміж усіх країн-виробників, ми зосередилися на Іспанії та Італії, оскільки саме вони є законодавицями трендів в кераміці. У цих країнах зосереджені найбільш технологічні виробництва, тут створюють обладнання для виготовлення плитки, тому іспанська та італійська плитка вважається найякіснішою.</p>

            <p class="text-gray">У магазині EuroPlitka зібрано кахлі від кращих виробників у різних цінових категоріях. Зокрема, у нас представлені товари брендів Atrium, Equipe, Mainzu, Pamesa, відомі у всьому світі. Безліч варіантів розміру, форм, фактур, покриття — обрати буде легко!</p>

            <p class="mb-0 text-gray fw-500">Потрібно купити плитку в Києві? Чекаємо в EuroPlitka!</p>
        </div>
    </div>
</div>

@section Scripts
    {
    <!--for filter main menu-->
    <script>

        $(function () {

            $("#Name,#SurName").keyup(function (e) {
                var n = $("#Name").val();

                $.get("/Home/SearchPartialModal?Name=" + n, function (r) {
                    //update ui with results
                    $("#resultsTable").html(r);


                    //$('#dialogContent').html(r);
                    // $('#modDialog').modal('show');



                });

            });

        });


                //$(function () {
                //    $.ajaxSetup({ cache: false });
                //    $(".compItem").keyup(function (e) {

                //        e.preventDefault();
                //        $.get(this.href, function (data) {
                //            $('#dialogContent').html(data);
                //            $('#modDialog').modal('show');
                //        });
                //    });
                //})



        $('.send').click(function () {
            var valueDelivery = $("#lang").val();

        });


    </script>
}